<div class='page-nav'>

  <div class='title'>quarryio/quarryio</div>
  <ul>
    <li><a>Messages</a></li>
    <li><a>Branches</a></li>
    <li><a>Architecture</a></li>
    <li><a>Contributors</a></li>
    <li><a>Search</a></li>
    <li><a>Charts</a></li>
    <li><a>Duplicates</a></li>
  </ul>

</div>

<div class='page-content'>
    <div class='title'>Overview</div>
    <div class='repo-stats-section'>
      <div class='stats-title'>Score</div>
      <div class='stats-score'><span class='grade-5'>4.7</span><span class='detail'>/5</span></div>
      <div class='clearfix'></div>
    </div>
    <div class='repo-stats-section'>
      <div class='stats-title'>MVP</div>
      <div class='stats-mvp'>
        <img src='https://avatars2.githubusercontent.com/u/327739?v=2&s=100' />
        <span class='name'>Brian</span>
        <div class='clearfix'></div>
      </div>
    </div>
    <div class='repo-stats-section'>
      <div class='stats-title'>Branches</div>
      <div class='stats-branches'>
        <div class='stats-branch'>
          <a href=''>feature/analytics</a>
          <span class='score grade-1'>1.0<span class='detail'>/5</span></span>
        </div>
        <div class='stats-branch'>
          <a href=''>feature/analytics</a>
          <span class='score grade-2'>2.3<span class='detail'>/5</span></span>
        </div>
        <div class='clearfix'></div>
      </div>
    </div>
    <div class='repo-stats-section'>
      <div class='stats-title'>Needs <i class='fa fa-heart'></i></div>
      <div class='stats-codes'>
        <div class='stats-code'>
          <a href=''>src/__init__.py</a>
          <span class='score grade-5'>4.9<span class='detail'>/5</span></span>
        </div>
        <div class='stats-code'>
          <a href=''>src/__init__.py</a>
          <span class='score grade-3'>3.2<span class='detail'>/5</span></span>
        </div>
        <div class='clearfix'></div>
      </div>
    </div>
    <div class='clearfix'></div>
</div>

<!--

<div class='page-content'>

  <div class='title'>To Do</div>

</div>

-->

<div class='page-content'>

  <div class='title'>Feed</div>

  <div class='feed'>
    <div class='feed-item'>
      <div class='feed-icon'>
        <div class='icon-circle grade-3'>
          <div class='icon-text'>0</div>
        </div>
        <div class='clearfix'></div>
      </div>
      <div class='feed-content'></div>
      <div class='clearfix'></div>
    </div>
    <div class='feed-item'>
      <div class='feed-icon'>
        <div class='icon-semi-left grade-5'>
          <div class='icon-text'>5</div>
        </div>
        <div class='icon-semi-transition from-5-to-0'></div>
        <div class='icon-semi-right grade-0'>
          <div class='icon-text'>0</div>
        </div>
        <div class='clearfix'></div>
      </div>
      <div class='feed-content'>this works really nicely if you have a solid-color background to go against, but in the interest of having rounded border-image</div>
      <div class='clearfix'></div>
    </div>
  </div>

</div>
