<div class='page-nav'>

  <div class='title'>quarryio/quarryio</div>
  <ul>
    <li><a>Feed</a></li>
    <li><a>All</a></li>
    <li><a>Mine</a></li>
    <li><a>Complete</a></li>
    <li><a class='fa fa-plus'> New Issue</a></li>
  </ul>

</div>

<div class='page-content'>

  <div class='title'>To Do</div>

  <div class='tasks'>

    <div class='task'>

      <div class='task-body'>

        <div class='description'>
          Your code sucks. This is the reason why it sucks.
        </div>

        <div class='location'><a href=''>Line 105 in setup.py</a></div>

        <div class='created'>
          1:55 PM on August 14, 2014 in commit <a href=''>123abcd</a>
        </div>

      </div>

      <div class='task-detail-col'>
        <div class='take'>Take</div>
      </div>

      <div class='task-detail-col'>
        <div class='severity low'>Low Severity</div>
      </div>

      <div class='clearfix'></div>

    </div>

  </div>

</div>
