<div class='page-content'>

  <div class='title'>Latest News</div>

  <div class='article'>

    <div class='article-title'>
        Your Code Is Fucking Shit You God Damn Pussy!
    </div>

    <div class='article-detail'>
        by Brian Brunner | Aug 14, 2014
    </div>

    <div class='article-body'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

  </div>

</div>

<div class='page-content'>

  <div class='title'>Overview</div>

  <div class='repo-list'>

    <div class='repo-item' ng-repeat='repo in repos'>

        <div class='repo-title'>
          <div class='major'><a href=''>{{ repo.url }}</a></div>
          <div class='minor'>{{ repo.description }}</div>
        </div>

        <div class='repo-hero'>
          <img src='https://avatars2.githubusercontent.com/u/327739?v=2&s=100' />
        </div>

        <div class='score'><span class='grade-2'>2.1</span><span class='detail'>/5</span></div>

        <div class='clearfix'></div>

    </div>

  </div>

</div>
