<!DOCTYPE HTML>
<html>
<head>

  <title>Bit Caliber</title>

  <link rel="shortcut icon" href="/favicon.ico" />

  <script type="text/javascript" src="//use.typekit.net/qix3tgv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>

  <link rel='stylesheet' href='/static/analysis/css/style.css'>

</head>
<body>
  <div class='nav-wrap'>

    <div class='navbar'>
      <a class='logo' href='/'><i class='fa fa-circle-o'></i> BIT CALIBER</a>
      <ul>
        <li><a class='fa fa-cogs'></a></li>
        <li><a class='fa fa-sign-out'></a></li>
      </ul>
    </div>

  </div>

  <div class='content'>

    <div class='page-nav'>

      <div class='title'>quarryio/quarryio</div>
      <ul>
        <li><a>Test</a></li>
        <li><a>Test</a></li>
        <li><a>Test</a></li>
      </ul>

    </div>

    <div class='page-content'>
        <div class='title'>Overview</div>
    </div>

    <div class='page-content'>

      <div class='title'>Feed</div>

      <div class='feed'>
        <div class='feed-item'>
          <div class='feed-icon'>
            <div class='icon-circle grade-3'>
              <div class='icon-text'>0</div>
            </div>
            <div class='clearfix'></div>
          </div>
          <div class='feed-content'></div>
          <div class='clearfix'></div>
        </div>
        <div class='feed-item'>
          <div class='feed-icon'>
            <div class='icon-semi-left grade-5'>
              <div class='icon-text'>5</div>
            </div>
            <div class='icon-semi-transition from-5-to-0'></div>
            <div class='icon-semi-right grade-0'>
              <div class='icon-text'>0</div>
            </div>
            <div class='clearfix'></div>
          </div>
          <div class='feed-content'>this works really nicely if you have a solid-color background to go against, but in the interest of having rounded border-image</div>
          <div class='clearfix'></div>
        </div>
      </div>

    </div>

    <div class='page-content'>

      <div class='title'>setup.py</div>

      <div class='code-view'>

        <table>
          <thead>
            <tr>
              <th class='line-no'></th>
              <th class='body'></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><pre><span class="hljs-function"><span class="hljs-keyword">def</span> <span class="hljs-title">func</span><span class="hljs-params">(x, y, z)</span>:</span></pre></td>
            </tr>
            <tr>
              <td>2</td>
              <td><pre>    <span class="hljs-keyword">return</span> x*y*z</pre></td>
            </tr>
            <tr class='warn'>
              <td>3</td>
              <td><pre>    <span class="hljs-keyword">return</span> x*y*z</pre><pre class='message'>    Something is wrong here!</pre></td>
            </tr>
            <tr class='error'>
              <td>4</td>
              <td><pre>    <span class="hljs-keyword">return</span> x*y*z</pre><pre class='message'>    Something is wrong here!</pre></td>
            </tr>
            <tr class='style'>
              <td>5</td>
              <td><pre>    <span class="hljs-keyword">return</span> x*y*z</pre><pre class='message'>    Something is wrong here!</pre></td>
            </tr>
          </tbody>
        </table>


        <div class='clearfix'>

      </div>

    </div>

  </div>

</body>
</html>

